.messages {
    display: grid;
    grid-template-areas:"search name"
                        "item chats";
    grid-template-columns: 1fr 2fr;
    background-color: white;
    border-radius: 8px;

}

.mess{
    margin: 0 0 25px 0;
    font-size: 25px;
    font-weight: 600;
}
.messageHeader{
    display: grid;
    height: 40px;
    grid-template-columns: 10fr 1fr;
    grid-area: search;
    margin: 15px 15px 15px 15px;
    background-color: #F3F4F6;
    align-items: center;
    //justify-items: center;
    border-radius: 8px;


}

.messageHeader input{
    border: none;
    background-color: #F3F4F6;
    padding: 12px 12px 12px 18px;
    border-radius: 8px;
}
.messagesItem{
    /*grid-area: item;*/
    border-top: 1px solid #E5E7EB;

}



.chatName{
    grid-area:name;
    border-left: 1px solid #E5E7EB;
    padding: 15px;
    height: 40px;

}
.chatWrapper{
    grid-area:chats;
    /*display: grid;*/
    
}
.messageHeader img{
    width: 15px;

}

.messages  .active{
    background-color: #F3F4F6;
    color:#000000;
    cursor: pointer;

}


.chats {
    grid-area:chats;
    padding: 15px;
    border-top: 1px solid #E5E7EB;
    border-left: 1px solid #E5E7EB;
}





