.nav {
    grid-area: n;
    background-color: #ffffff;
    border-right: 1px solid #E5E7EB;
    display: grid;



}
.item a{
    text-decoration: none;
    font-size: 18px;
    color: #686868;

}
.item{
    padding-left: 25px;
    padding-top: 15px;
}
.item .active{
    color:#EC4899;
    cursor: pointer;
}