

.image {
    background-color: #ffff;
    width: 85px;
    padding: 4px;
    border-radius: 100px;

}

.avatar {
    margin-top: 25px;
    width: 93px;
    height: 93px;
    border-radius: 108px;
    background-color: #DB3A5D;
    padding: 4px;
}