.header {
    grid-area: h;
    background-color: #ffffff;
    height: 65px;
}

.header {
    display: grid;
    grid-template-columns: 1.5fr 17fr 4fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    justify-items: center;
    align-items: center;
    padding-right: 35px;
}

.search{
    justify-self: end;
}
.search img {
    width: 17px;
    color: #9CA3AF;

}

.input{
    justify-self: start;

}
.input input {
    width: 500px;
    height: 25px;
    font-size: 17px;
    border: none;
    outline: none;



}
.addLogo{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 6px;
    justify-items: center;
    align-items: center;
    padding: 10px 16px;
    color: #FDECF5;
    background-color: #EC4899;
    border: none;
    border-radius: 5px;
    font-weight: 900;

}
.addLogo img {
    width: 17px;
    justify-self: start;
    color: #FDECF5;
}


.bell img {
    width: 20px;
}

.comment img {
    width: 20px;
}

.image img {
    width: 35px;
    border-radius: 35px;
}
.login{
display: flex;
}