

.comment{
    display: flex;
    align-items: center;
}
.comment p{
    padding: 15px;
    background-color: #F3F4F6;
    border-radius: 8px;

}
.image {
    background-color: #ffff;
    width: 30px;
    padding: 3px;
    border-radius: 33px;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background-color: #DB3A5D;
    padding: 3px;
}