.explorer{
    margin-top: 100px;
    display: grid;
    grid-gap: 0px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 5f;
    grid-gap: 4px;

    overflow: visible;
}

.text{
    grid-column-start: 1;
    grid-column-end: 5;
}