.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas: "n-h h" "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 10fr;
  /*grid-gap: 10px;*/

}

.header {
  grid-area: h;
  background-color: #ffffff;

}

.navbar-header {
  padding-left: 15px;
  padding-right: 15px;
  height: 60px;
  grid-area: n-h;
  border-bottom: 1px solid #E5E7EB;
  border-right: 1px solid #E5E7EB;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* box-shadow:-5px 1px 10px 0px rgb(0 0 0 / 50%) ;;*/
}

.logo {
  width: 100px;

}

.navbar-header-button {
  width: 25px;
  padding: 5px;
  border-radius: 30px;
  background-color: #F0F2F5;

}

.nav {
  grid-area: n;

  background-color: #ffffff;
  border-right: 1px solid #E5E7EB;

}

.content {
  grid-area: c;
  background-color: #F0F2F5;
}
