.appWrapper {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    width: 98vw;
    grid-template-areas: "n-h h"
                            "n user";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 7fr;
    /*grid-gap: 10px;*/

}

.appWrapperAvatar {
    text-align: center;
    border-bottom: 1px solid #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.follow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.appWrapperContent {
    grid-area: user;
    background-color: #F0F2F5;
    padding: 80px;
}
