.appWrapper {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    width: 1200px;
    grid-template-areas: "n-h h"
                            "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 10fr;
    /*grid-gap: 10px;*/

}

.avatarWrapper {
    text-align: center;
    border-bottom: 1px solid #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.follow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    grid-area: c;
    background-color: #F0F2F5;
}
