.feedBlogComment{
    margin: 15px 15px 0 15px;
}

.getComment input{
    border: none;
    background-color: #F3F4F6;
    padding: 12px 12px 12px 18px;
    border-radius:40px;
}

.getComment div{
    display: flex;
    align-items: center;

}
.getComment{
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: #F3F4F6;
    align-items: center;
    border-radius: 40px;
}
.getComment button{
    color: #666666;
    margin-right:15px;
    padding: 2px;
    border:1px solid gray;
    border-radius: 8px;
    cursor: pointer;
}
.getComment img{
    margin-right:15px;
    width: 20px;
    height: 17px;
   color: #666666;
}


.comment {
    display: grid;
    align-items: center;
}
.comment p{
    margin-left: 15px;
}
.image {
    background-color: #ffff;
    width: 30px;
    padding: 3px;
    border-radius: 33px;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background-color: #DB3A5D;
    padding: 3px;
}